<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>forgot password</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">

    <style type="text/css">
        .form-gap {
            padding-top: 30px;
        }
    </style>
</head>
<body>
<div style="background: #824b71;
            background: -webkit-linear-gradient(to bottom, #FFB88C, #380B61);
            background: linear-gradient(to bottom, #d2919d, #130321);
            float: left;
            width: 100%;
            padding: 90px 0;">
    <div class="form-gap"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="text-center">
                            <h3><i class="fa fa-lock fa-4x"></i></h3>
                            <h2 class="text-center">Forgot Password?</h2>
                            <p style="color: #3b5998">Minionmint sẽ gửi bạn đường link thay đổi mật khẩu trong email của
                                bạn.</p>
                            <div class="panel-body">
                                <form id="register-form" th:action="@{/forgot_password}" role="form" autocomplete="off"
                                      class="form" method="post">
                                    <div class="form-group">
                                        <div class="input-group">
                                        <span class="input-group-addon"><i
                                                class="glyphicon glyphicon-envelope color-blue"></i></span>
                                            <input id="email" name="email" placeholder="Nhập email bạn đã đăng kí"
                                                   class="form-control"
                                                   type="email">
                                        </div>
                                    </div>
                                    <span th:text="${error != null} ? ${error}" style="color: red"></span>
                                    <span th:text="${message != null} ? ${message}" style="color: red"></span>
                                    <br>
                                    <br>
                                    <div class="form-group">
                                        <input name="recover-submit" class="btn btn-lg btn-primary btn-block"
                                               value="Xác nhận email" type="submit" style="margin-top: 3vh">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</div>
</body>
</html>